beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
demjson==2.2.4
fake-useragent==0.1.11
gevent==1.4.0
greenlet==0.4.15
grequests==0.3.0
idna==2.8
requests==2.21.0
simplejson==3.16.0
soupsieve==1.9.1
urllib3==1.24.2
